{% extends "create_non.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" , action="">
            <label for="desc">Description:</label><br>
            <input class="col-sm-10" type="text" id="desc" name="desc"><br><br>

            <a class="btn btn-warning btn-sm m-1" href="{{ url_for('create_non')}}">Non-Schedule Job</a>

            <br>

            <label for="minute">Minute (0 - 59)</label><br>
            <input type="text" id="minute" name="minute" value="11"><br>
        
            <label for="hour">Hour (0 - 23)</label><br>
            <input type="text" id="hour" name="hour" value="11"><br>
        
            <label for="day">Day of the month (1 - 31)</label><br>
            <input type="text" id="day" name="day" value="*"><br>
        
            <label for="month">Month (1 - 12)</label><br>
            <input type="text" id="month" name="month" value="*"><br>
        
            <label for="dow">Day of the week (0 - 6)</label><br>
            <input type="text" id="dow" name="dow" value="*"><br><br>

            <h6>*click <a href="https://crontab.guru/">here</a> to get more information about time setup </h6>
        
            <label for="command">Command</label><br>
            <input class="col-sm-10" type="text" id="command" name="command"><br><br>

            <input type="submit" value="Create"><br><br>
            
        </form>
    </div>

{% endblock %}